# Open Ocean
## Open Earth Fundation

## Step 3: 
Calculate a final number of `Marine Biodiversity Units (MBUs)` based on the modulating factors score

### Marine Biodiversity Units (MBUs)

We think that to develop a scalable system of marine biodiversity credits, we must first define what the credit unit is. To achieve this, we aim to develop a metric that incorporates the ecological values of the ecosystems within each acreage—or 1 km$^2$—of ocean protected. 

The number of MBUs assigned to each km$^2$ is modulated by different factors, which we call "Modularing Factors".

These Modulating Factors are:
1. Normalize Marine Biodiversity Score
2. Species richness
3. Species distribution area
4. Endemism
5. Habitats' Survey
6. Vulnerability of species

**Note:** Some of these factors do not have a defined methodology yet.

Each Modulating Factor has a weight factor that it's define by (...)(?)

**General Methodology**

- Per km$^2$:
$$
\begin{align}
MBUs_{sqdkm} = \sum_{i=1}^{6} C_i\times MBUs_i
\end{align}
$$

where i represent each modulating factor and $C_i$ represent the weight factor of that modulating factor

This means that each km$^2$ is assigned a number of MBUs per modulating factor

- For the entire MPA:
$$
\begin{align}
\text{Total MBUs} = \sum_{j=1}^{N} MBUs_{sqdkm}
\end{align}
$$

where N represents the total size of the MPA in km$^2$

## 3.1 Import Libraries

In [1]:
import os
import glob
import boto3

import math
import numpy as np
import pandas as pd

from pyobis import occurrences

import matplotlib.pyplot as plt

import shapely
import geopandas as gpd
from shapely.geometry import Polygon, Point, box
from shapely.ops import linemerge, unary_union, polygonize

In [2]:
import fiona; #help(fiona.open)

**OEF Functions**

In [3]:
%load_ext autoreload

In [30]:
#Run this to reload the python file
%autoreload 2
from MBU_utils import *

## 3.2 Data Needed

**Import the entire marine protected area file**

In [5]:
ACMC = gpd.read_file('https://ocean-program.s3.amazonaws.com/data/raw/MPAs/ACMC.geojson')

Inspect the Coordinate Reference Systems (CRS)

In [6]:
ACMC.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

**Grid gdf**

In [7]:
grid = create_grid(ACMC, grid_shape="hexagon", grid_size_deg=1.)

**Import the species information**

The species information needed for this project is:

- Species name
- Polygons of distribution for each species in the list

In [8]:
#Locally
df1 = gpd.read_file('/Users/maureenfonseca/Desktop/oceanprogram/Marine_Ecosystem_Credits/Marine_Biodiversity/MBU_Methodology/gdf_range_status_filtered_shortV.shp')

Another source of species data is OBIS

In [9]:
#create a polygon to access the OBIS data
min_x, min_y, max_x, max_y = ACMC.total_bounds
geometry = f"POLYGON(({max_x} {min_y}, {min_x} {min_y}, {min_x} {max_y}, {max_x} {max_y}, {max_x} {min_y}))"

query = occurrences.search(geometry=geometry)
query.execute()

# Returns the data
df2 = query.data

Fetching: [████████████████████████████████████████████████████████████████████████████████████████████████████] 4216/4216
Fetched 4216 records.

The IUCN Red List and OBIS datasets don't have information on species abundance, to calculate some MF, that information will be randomly assigned for this moment.

In [10]:
import random

fake_abundance1 = [random.randint(1, 100) for _ in range(len(df1))]
df1['abundance'] = fake_abundance1

fake_abundance2 = [random.randint(1, 100) for _ in range(len(df2))]
df2['abundance'] = fake_abundance2

/var/folders/v8/b0fnjf9d4q31sfz_8q4h4zxm0000gn/T/ipykernel_52396/2025151207.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df2['abundance'] = fake_abundance2

**Import the habitats/ecosystems information**

In [ ]:
#Locally
source_dir = '/Users/maureenfonseca/Desktop/Data-Oceans/Ecosystem_Typology_IUCN/'
eco_names = np.sort(glob.glob(source_dir + "/*.json"))

**Weighted Factors**

(To be define)

## 3.3 Indices and metrics

**Shannon Index**

In [ ]:
%%time
shannon1 = shannon(ACMC, df1, grid, 'abundance', 'IUCN')

In [19]:
%%time
shannon2 = shannon(ACMC, df2, grid, 'abundance', 'obis')

CPU times: user 409 ms, sys: 6.18 ms, total: 415 ms
Wall time: 414 ms

In [20]:
shannon2

    Grid_ID   shannon                                           geometry
0         0       NaN  POLYGON ((-88.32201 2.15063, -88.82201 3.01666...
1         1  2.763614  POLYGON ((-88.32201 3.88268, -88.82201 4.74871...
2         2  3.602051  POLYGON ((-88.32201 5.61474, -88.82201 6.48076...
3         3       NaN  POLYGON ((-88.32201 7.34679, -88.82201 8.21281...
4         4       NaN  POLYGON ((-86.82201 1.28461, -87.32201 2.15063...
5         5  4.469206  POLYGON ((-86.82201 3.01666, -87.32201 3.88268...
6         6  6.287831  POLYGON ((-86.82201 4.74871, -87.32201 5.61474...
7         7  5.021810  POLYGON ((-86.82201 6.48076, -87.32201 7.34679...
8         8       NaN  POLYGON ((-86.82201 8.21281, -87.32201 9.07884...
9         9  3.246510  POLYGON ((-85.32201 2.15063, -85.82201 3.01666...
10       10  4.885488  POLYGON ((-85.32201 3.88268, -85.82201 4.74871...
11       11  7.778724  POLYGON ((-85.32201 5.61474, -85.82201 6.48076...
12       12  0.782321  POLYGON ((-85.32201 7.34679, -85.82201 8.21281...
13       13       NaN  POLYGON ((-83.82201 1.28461, -84.32201 2.15063...
14       14       NaN  POLYGON ((-83.82201 3.01666, -84.32201 3.88268...
15       15       NaN  POLYGON ((-83.82201 4.74871, -84.32201 5.61474...
16       16       NaN  POLYGON ((-83.82201 6.48076, -84.32201 7.34679...
17       17       NaN  POLYGON ((-83.82201 8.21281, -84.32201 9.07884...

**Simpson Index**

In [ ]:
%%time
simpson = simpson(ACMC, df1, grid, 'abundance', 'IUCN')

In [ ]:
%%time
simpson = simpson(ACMC, df2, grid, 'abundance', 'obis')

**Species Richness**

In [ ]:
%%time
species_richness = species_richness(ACMC, df1, grid, 'IUCN')

In [ ]:
%%time
species_richness = species_richness(ACMC, df2, grid, 'obis')

**Endemism**

In [ ]:
%%time

#For this metric, the polygons of species habitats are needed 
endemism = endemism(ACMC, df1, grid)

**WEGE**

In [ ]:
%%time

#For this metric, the polygons of species habitats are needed 
wege = wege(ACMC, df1, grid)

**Habitats Survey**

In [ ]:
%%time
habitats = habitats_survey(ACMC, grid, eco_names)

In [ ]:
habitats

## 3.4 Modulating Factors and MBU calculations

crs for Central America in meters: 31970

https://epsg.io/31970

**Biodiversity Score**

In [ ]:
mbu_biodiversity_score = mbu_biodiversity_score(ACMC, df1, grid, 'abundance', 'IUCN', 31970)

In [23]:
mbu_biodiversity_score = mbu_biodiversity_score(ACMC, df2, grid, 'abundance', 'obis', 31970)

In [24]:
mbu_biodiversity_score

       area_sqkm   shannon      simpson  mbu_biodiversity_score
0   31986.471199       NaN          NaN                     NaN
1   31936.727495  2.763614    17.933081            11544.538242
2   31858.465100  3.602051    42.970343            15226.053065
3   31751.740608       NaN          NaN                     NaN
4   31954.393897       NaN          NaN                     NaN
5   31919.081068  4.469206   104.987621            19498.015072
6   31855.354220  6.287831   650.997997            32923.079961
7   31763.257814  5.021810   185.992751            22549.301918
8   31642.856236       NaN          NaN                     NaN
9   31938.178096  3.246510    32.954965            13693.709394
10  31888.663978  4.885488   164.991696            21847.832053
11  31810.761273  7.778724  2890.999547            63621.522547
12  31704.524296  0.782321     2.517752             3216.195908
13  31994.276768       NaN          NaN                     NaN
14  31958.828748       NaN          NaN                     NaN
15  31894.858731       NaN          NaN                     NaN
16  31802.412720       NaN          NaN                     NaN
17  31681.557317       NaN          NaN                     NaN

**Species Richness**

In [ ]:
mbu_species_richness = mbu_species_richness(ACMC, df1, grid, 'IUCN', 31970)

In [31]:
mbu_species_richness = mbu_species_richness(ACMC, df2, grid, 'obis', 31970)

**Endemism**

In [ ]:
mbu_endemism = mbu_endemism(ACMC, df1, grid, 31970)

**Wege**

In [ ]:
mbu_wege = mbu_wege(ACMC, df1, grid, 31970)

**Habitats Survey**

In [ ]:
mbu_habitats_survey = mbu_habitats_survey(ACMC, grid, eco_names, 31970)

In [ ]:
mbu_habitats_survey