# Open Ocean
## Open Earth Fundation

## Step 3: 
Calculate a final number of `Marine Biodiversity Units (MBUs)` based on the modulating factors score

### Marine Biodiversity Units (MBUs)

We think that to develop a scalable system of marine biodiversity credits, we must first define what the credit unit is. To achieve this, we aim to develop a metric that incorporates the ecological values of the ecosystems within each acreage—or 1 km$^2$—of ocean protected. 

The number of MBUs assigned to each km$^2$ is modulated by different factors, which we call "Modularing Factors".

These Modulating Factors are:
1. Normalize Marine Biodiversity Score
2. Species richness
3. Species distribution area
4. Endemism
5. Habitats' Survey
6. Vulnerability of species

**Note:** Some of these factors do not have a defined methodology yet.

Each Modulating Factor has a weight factor that it's define by (...)(?)

**General Methodology**

- Per km$^2$:
$$
\begin{align}
MBUs_{sqdkm} = \sum_{i=1}^{6} C_i\times MBUs_i
\end{align}
$$

where i represent each modulating factor and $C_i$ represent the weight factor of that modulating factor

This means that each km$^2$ is assigned a number of MBUs per modulating factor

- For the entire MPA:
$$
\begin{align}
\text{Total MBUs} = \sum_{j=1}^{N} MBUs_{sqdkm}
\end{align}
$$

where N represents the total size of the MPA in km$^2$

## 3.1 Import Libraries

In [1]:
import os
import glob
import boto3

import math
import numpy as np
import pandas as pd

from pyobis import occurrences

import matplotlib.pyplot as plt

import shapely
import geopandas as gpd
from shapely.geometry import Polygon, Point, box
from shapely.ops import linemerge, unary_union, polygonize

In [2]:
import fiona; #help(fiona.open)

**OEF Functions**

In [3]:
%load_ext autoreload

In [21]:
#Run this to reload the python file
%autoreload 2
from MBU_utils import *

## 3.2 Data Needed

**Import the entire marine protected area file**

In [5]:
ACMC = gpd.read_file('https://ocean-program.s3.amazonaws.com/data/raw/MPAs/ACMC.geojson')

Inspect the Coordinate Reference Systems (CRS)

In [6]:
ACMC.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

**Grid gdf**

In [7]:
grid = create_grid(ACMC, grid_shape="hexagon", grid_size_deg=1.)

**Import the species information**

The species information needed for this project is:

- Species name
- Polygons of distribution for each species in the list

In [8]:
#Locally
df1 = gpd.read_file('/Users/maureenfonseca/Desktop/oceanprogram/Marine_Ecosystem_Credits/Marine_Biodiversity/MBU_Methodology/gdf_range_status_filtered_shortV.shp')

The IUCN Red List dataset does not have information on species abundance, to calculate this MF, that information will be randomly assigned.

In [9]:
fake_abundance = np.random.randint(50, size = (len(df1)))
df1['abundance'] = fake_abundance

Another source of species data is OBIS

In [10]:
#create a polygon to access the OBIS data
min_x, min_y, max_x, max_y = ACMC.total_bounds
geometry = f"POLYGON(({max_x} {min_y}, {min_x} {min_y}, {min_x} {max_y}, {max_x} {max_y}, {max_x} {min_y}))"

query = occurrences.search(geometry=geometry)
query.execute()

# Returns the data
df2 = query.data

Fetching: [████████████████████████████████████████████████████████████████████████████████████████████████████] 4216/4216
Fetched 4216 records.

**Import the habitats/ecosystems information**

In [11]:
#Locally
source_dir = '/Users/maureenfonseca/Desktop/Data-Oceans/Ecosystem_Typology_IUCN/'
eco_names = np.sort(glob.glob(source_dir + "/*.json"))

**Weighted Factors**

(To be define)

## 3.3 Indices and metrics

**Shannon Index**

In [14]:
%%time
shannon = shannon(ACMC, df1, grid, 'abundance', 'IUCN')

/Users/maureenfonseca/Desktop/oceanprogram/Experimental_Work/MBU_utils.py:195: FutureWarning: Currently, index_parts defaults to True, but in the future, it will default to False to be consistent with Pandas. Use `index_parts=True` to keep the current behavior and True/False to silence the warning.
  new_gdf = gdf.explode('geometry')
/Users/maureenfonseca/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

CPU times: user 3.95 s, sys: 49.6 ms, total: 4 s
Wall time: 4 s

**Simpson Index**

In [15]:
%%time
simpson = simpson(ACMC, df1, grid, 'abundance', 'IUCN')

/Users/maureenfonseca/Desktop/oceanprogram/Experimental_Work/MBU_utils.py:195: FutureWarning: Currently, index_parts defaults to True, but in the future, it will default to False to be consistent with Pandas. Use `index_parts=True` to keep the current behavior and True/False to silence the warning.
  new_gdf = gdf.explode('geometry')

CPU times: user 3.95 s, sys: 29.5 ms, total: 3.98 s
Wall time: 3.98 s

**Species Richness**

In [25]:
%%time
species_richness = species_richness(ACMC, df2, grid, 'obis')

CPU times: user 376 ms, sys: 5.06 ms, total: 381 ms
Wall time: 380 ms

**Endemism**

In [22]:
%%time
endemism = endemism(ACMC, df1, grid)

/Users/maureenfonseca/Desktop/oceanprogram/Experimental_Work/MBU_utils.py:460: UserWarning: Geometry is in a geographic CRS. Results from 'area' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  dist_ratio2 = np.round(df2.area/gdf.area, decimals=4, out=None)
/Users/maureenfonseca/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: divide by zero encountered in log2
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/maureenfonseca/Desktop/oceanprogram/Experimental_Work/MBU_utils.py:195: FutureWarning: Currently, index_parts defaults to True, but in the future, it will default to False to be consistent with Pandas. Use `index_parts=True` to keep the current behavior and True/False to silence the warning.
  new_gdf = gdf.explode('geometry')

CPU times: user 4.02 s, sys: 55.2 ms, total: 4.07 s
Wall time: 4.09 s

**WEGE**

In [23]:
%%time
wege = wege(ACMC, df1, grid)

/Users/maureenfonseca/Desktop/oceanprogram/Experimental_Work/MBU_utils.py:553: UserWarning: Geometry is in a geographic CRS. Results from 'area' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  roi_area = roi.area[0]
/Users/maureenfonseca/Desktop/oceanprogram/Experimental_Work/MBU_utils.py:560: UserWarning: Geometry is in a geographic CRS. Results from 'area' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  we = np.round(df.area/roi_area, decimals=4, out=None)
/Users/maureenfonseca/Desktop/oceanprogram/Experimental_Work/MBU_utils.py:195: FutureWarning: Currently, index_parts defaults to True, but in the future, it will default to False to be consistent with Pandas. Use `index_parts=True` to keep the current behavior and True/False to silence the warning.
  new_gdf = gdf.explode('geometry')

CPU times: user 3.99 s, sys: 25.8 ms, total: 4.02 s
Wall time: 4.02 s

**Habitats Survey**

In [26]:
%%time
habitats = habitats_survey(ACMC, grid, eco_names)

/Users/maureenfonseca/Desktop/oceanprogram/Experimental_Work/MBU_utils.py:139: ShapelyDeprecationWarning: The 'type' attribute is deprecated, and will be removed in the future. You can use the 'geom_type' attribute instead.
  if this_row_boundary.type[:len('multi')].lower() == 'multi':
/Users/maureenfonseca/Desktop/oceanprogram/Experimental_Work/MBU_utils.py:160: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  new_gdf['geom_centroid'] = new_gdf.centroid

CPU times: user 3min 17s, sys: 2.63 s, total: 3min 19s
Wall time: 3min 20s

In [28]:
habitats

,geometry,Grid_ID,Shannon,Simpson,endemism,wege,species_richness,habitats_survey
0,"POLYGON ((-88.32201 2.15063, -88.82201 3.01666...",0,NaN,NaN,NaN,NaN,1,NaN
1,"POLYGON ((-88.32201 3.88268, -88.82201 4.74871...",1,-0.000000,1.000000,0.000000,0.000000,18,6.0
2,"POLYGON ((-88.32201 5.61474, -88.82201 6.48076...",2,-0.000000,1.000000,0.000000,0.000000,43,7.0
3,"POLYGON ((-88.32201 7.34679, -88.82201 8.21281...",3,-0.000000,1.000000,0.000000,0.000000,1,6.0
4,"POLYGON ((-86.82201 1.28461, -87.32201 2.15063...",4,NaN,NaN,NaN,NaN,1,NaN
5,"POLYGON ((-86.82201 3.01666, -87.32201 3.88268...",5,-0.000000,1.000000,0.000000,0.000000,105,6.0
6,"POLYGON ((-86.82201 4.74871, -87.32201 5.61474...",6,1.980391,0.999931,11952.095261,327.565145,651,6.0
7,"POLYGON ((-86.82201 6.48076, -87.32201 7.34679...",7,2.463775,0.999919,14479.794850,421.216818,186,7.0
8,"POLYGON ((-86.82201 8.21281, -87.32201 9.07884...",8,NaN,NaN,NaN,NaN,1,NaN
9,"POLYGON ((-85.32201 2.15063, -85.82201 3.01666...",9,-0.000000,1.000000,0.000000,0.000000,33,7.0
10,"POLYGON ((-85.32201 3.88268, -85.82201 4.74871...",10,0.430802,0.999988,2501.337605,84.302339,165,6.0
11,"POLYGON ((-85.32201 5.61474, -85.82201 6.48076...",11,3.419601,0.999886,20497.674516,527.159756,2891,8.0
12,"POLYGON ((-85.32201 7.34679, -85.82201 8.21281...",12,0.000059,1.000000,0.000000,0.000016,3,6.0
13,"POLYGON ((-83.82201 1.28461, -84.32201 2.15063...",13,NaN,NaN,NaN,NaN,1,NaN
14,"POLYGON ((-83.82201 3.01666, -84.32201 3.88268...",14,NaN,NaN,NaN,NaN,1,NaN
15,"POLYGON ((-83.82201 4.74871, -84.32201 5.61474...",15,NaN,NaN,NaN,NaN,1,NaN
16,"POLYGON ((-83.82201 6.48076, -84.32201 7.34679...",16,NaN,NaN,NaN,NaN,1,NaN
17,"POLYGON ((-83.82201 8.21281, -84.32201 9.07884...",17,NaN,NaN,NaN,NaN,1,NaN

## 3.4 Modulating Factors and MBU calculations

crs for Central America in meters: 31970

https://epsg.io/31970

**Biodiversity Score**

In [29]:
mbu_biodiversity_score = mbu_biodiversity_score(ACMC, df1, grid, 'abundance', 31970)

/Users/maureenfonseca/Desktop/oceanprogram/Experimental_Work/MBU_utils.py:195: FutureWarning: Currently, index_parts defaults to True, but in the future, it will default to False to be consistent with Pandas. Use `index_parts=True` to keep the current behavior and True/False to silence the warning.
  new_gdf = gdf.explode('geometry')
/Users/maureenfonseca/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/maureenfonseca/Desktop/oceanprogram/Experimental_Work/MBU_utils.py:195: FutureWarning: Currently, index_parts defaults to True, but in the future, it will default to False to be consistent with Pandas. Use `index_parts=True` to keep the current behavior and True/False to silence the warning.
  new_gdf = gdf.explode('geometry')

**Species Richness**

In [30]:
mbu_species_richness = mbu_species_richness(ACMC, df2, grid, 'obis', 31970)

**Endemism**

In [31]:
mbu_endemism = mbu_endemism(ACMC, df1, grid, 31970)

/Users/maureenfonseca/Desktop/oceanprogram/Experimental_Work/MBU_utils.py:460: UserWarning: Geometry is in a geographic CRS. Results from 'area' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  dist_ratio2 = np.round(df2.area/gdf.area, decimals=4, out=None)
/Users/maureenfonseca/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: divide by zero encountered in log2
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/maureenfonseca/Desktop/oceanprogram/Experimental_Work/MBU_utils.py:195: FutureWarning: Currently, index_parts defaults to True, but in the future, it will default to False to be consistent with Pandas. Use `index_parts=True` to keep the current behavior and True/False to silence the warning.
  new_gdf = gdf.explode('geometry')

**Wege**

In [32]:
mbu_wege = mbu_wege(ACMC, df1, grid, 31970)

/Users/maureenfonseca/Desktop/oceanprogram/Experimental_Work/MBU_utils.py:553: UserWarning: Geometry is in a geographic CRS. Results from 'area' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  roi_area = roi.area[0]
/Users/maureenfonseca/Desktop/oceanprogram/Experimental_Work/MBU_utils.py:560: UserWarning: Geometry is in a geographic CRS. Results from 'area' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  we = np.round(df.area/roi_area, decimals=4, out=None)
/Users/maureenfonseca/Desktop/oceanprogram/Experimental_Work/MBU_utils.py:195: FutureWarning: Currently, index_parts defaults to True, but in the future, it will default to False to be consistent with Pandas. Use `index_parts=True` to keep the current behavior and True/False to silence the warning.
  new_gdf = gdf.explode('geometry')

**Habitats Survey**

In [33]:
mbu_habitats_survey = mbu_habitats_survey(ACMC, grid, eco_names, 31970)

/Users/maureenfonseca/Desktop/oceanprogram/Experimental_Work/MBU_utils.py:139: ShapelyDeprecationWarning: The 'type' attribute is deprecated, and will be removed in the future. You can use the 'geom_type' attribute instead.
  if this_row_boundary.type[:len('multi')].lower() == 'multi':
/Users/maureenfonseca/Desktop/oceanprogram/Experimental_Work/MBU_utils.py:160: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  new_gdf['geom_centroid'] = new_gdf.centroid

In [34]:
mbu_habitats_survey

,geometry,Grid_ID,Shannon,Simpson,endemism,wege,species_richness,habitats_survey,area_sqkm,mbu_biodiversity_score,mbu_species_richness,mbu_endemism,mbu_wege,mbu_habitats_survey
0,"POLYGON ((-88.32201 2.15063, -88.82201 3.01666...",0,NaN,NaN,NaN,NaN,1,NaN,31986.471199,NaN,11.064155,NaN,NaN,NaN
1,"POLYGON ((-88.32201 3.88268, -88.82201 4.74871...",1,-0.000000,1.000000,0.000000,0.000000,18,6.0,31936.727495,31936.727495,198.845069,0.000000,0.000000,23952.545621
2,"POLYGON ((-88.32201 5.61474, -88.82201 6.48076...",2,-0.000000,1.000000,0.000000,0.000000,43,7.0,31858.465100,31858.465100,473.854721,0.000000,0.000000,27876.156962
3,"POLYGON ((-88.32201 7.34679, -88.82201 8.21281...",3,-0.000000,1.000000,0.000000,0.000000,1,6.0,31751.740608,31751.740608,10.982961,0.000000,0.000000,23813.805456
4,"POLYGON ((-86.82201 1.28461, -87.32201 2.15063...",4,NaN,NaN,NaN,NaN,1,NaN,31954.393897,NaN,11.053059,NaN,NaN,NaN
5,"POLYGON ((-86.82201 3.01666, -87.32201 3.88268...",5,-0.000000,1.000000,0.000000,0.000000,105,6.0,31919.081068,31919.081068,1159.288659,0.000000,0.000000,23939.310801
6,"POLYGON ((-86.82201 4.74871, -87.32201 5.61474...",6,1.980391,0.999931,11952.095261,327.565145,651,6.0,31855.354220,50301.508173,7173.239570,18574.703579,19794.196355,23891.515665
7,"POLYGON ((-86.82201 6.48076, -87.32201 7.34679...",7,2.463775,0.999919,14479.794850,421.216818,186,7.0,31763.257814,54645.669233,2043.571758,22437.933462,25379.817474,27792.850587
8,"POLYGON ((-86.82201 8.21281, -87.32201 9.07884...",8,NaN,NaN,NaN,NaN,1,NaN,31642.856236,NaN,10.945298,NaN,NaN,NaN
9,"POLYGON ((-85.32201 2.15063, -85.82201 3.01666...",9,-0.000000,1.000000,0.000000,0.000000,33,7.0,31938.178096,31938.178096,364.565852,0.000000,0.000000,27945.905834
10,"POLYGON ((-85.32201 3.88268, -85.82201 4.74871...",10,0.430802,0.999988,2501.337605,84.302339,165,6.0,31888.663978,35905.631000,1820.003306,3891.383597,5099.571697,23916.497983
11,"POLYGON ((-85.32201 5.61474, -85.82201 6.48076...",11,3.419601,0.999886,20497.674516,527.159756,2891,8.0,31810.761273,63617.886861,31810.761273,31810.761273,31810.761273,31810.761273
12,"POLYGON ((-85.32201 7.34679, -85.82201 8.21281...",12,0.000059,1.000000,0.000000,0.000016,3,6.0,31704.524296,31705.066842,32.899887,0.000000,0.000938,23778.393222
13,"POLYGON ((-83.82201 1.28461, -84.32201 2.15063...",13,NaN,NaN,NaN,NaN,1,NaN,31994.276768,NaN,11.066855,NaN,NaN,NaN
14,"POLYGON ((-83.82201 3.01666, -84.32201 3.88268...",14,NaN,NaN,NaN,NaN,1,NaN,31958.828748,NaN,11.054593,NaN,NaN,NaN
15,"POLYGON ((-83.82201 4.74871, -84.32201 5.61474...",15,NaN,NaN,NaN,NaN,1,NaN,31894.858731,NaN,11.032466,NaN,NaN,NaN
16,"POLYGON ((-83.82201 6.48076, -84.32201 7.34679...",16,NaN,NaN,NaN,NaN,1,NaN,31802.412720,NaN,11.000489,NaN,NaN,NaN
17,"POLYGON ((-83.82201 8.21281, -84.32201 9.07884...",17,NaN,NaN,NaN,NaN,1,NaN,31681.557317,NaN,10.958685,NaN,NaN,NaN